NEVENTS: 1
OUTFILENAME: G4sPHENIX.root
ZSADCTHRESHCEMC: 16
ZSADCTHRESHIHCAL: 0
ZSADCTHRESHOHCAL: 0

DOGUN: 0
GUNETAVAL: 0.0
GUNPHIVAL: 0.0
GUNPARTICLE: gamma

DOPYTHIA8: 0
PYTHIA8PTHATMIN: 15

DOHEPMC: 1
HEPMCNAME: /sphenix/user/dvp/gen/newQCD/8//hepmc_QCD25GeV_R04jet40GeV_42p5GeV_eta0p45_seq00001.dat

DOCALOJETS: 1
CALOJTPTMIN: 10.0
CALOJTETALOW: -1.1;
CALOJTETAHIGH: 1.1;

DOPFJETS: 1
PFJTPTMIN: 10.0
PFJTETALOW: -1.1;
PFJTETAHIGH: 1.1;
